$header-height: 48px;

.layout {
  display: flex;
  height: 100%;

  > div:last-child {
    flex: 1;
    display: flex;
    flex-direction: column;

    main {
      flex: 1;
      background-color: #F5F5F5;
    }
  }
}
