@import './layout.module.scss';

$nav-background: #2d2d25;
$font-size: 14px;

.nav {
  width: 200px;
  background-color: $nav-background;
  font-size: $font-size;

  .empty {
    height: $header-height;
    background-color: #0067b6;
  }

  .logout {
    position: absolute;
    left: 20px;
    bottom: 100px;
    color: #fff;
  }
}