@import './layout.module.scss';

$nav-background: #2d2d25;
$font-size: 14px;

.nav {
  width: 173px;
  background-color: $nav-background;
  font-size: $font-size;

  .empty {
    height: $header-height;
    background-color: #0067b6;
  }
}