@import '../styles/globals.scss';

.div {
  padding: 50px 25px;

  .selectBoxes {
    display: flex;  
    gap: 10px;
    margin-top: 40px;
  }

  .table {
    margin-top: 40px;
  }

  .buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}