@import '@/styles/globals.scss';

$main-menu-background: #2d2d25;
$sub-menu-background: #3e3e3e;
$main-menu-color: #9c9c9c;
$sub-menu-color: #dedede;
$indent: 18px;
$font-size: $default-font-size;

.menu_container {
  .menu {
    background-color: $main-menu-background;
  
    .menu_item {
      min-height: 39px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #3f403b;
      overflow: hidden;
      cursor: pointer;
      box-sizing: border-box;
  
      span {
        position: relative;
  
        &::after {
          @include virtual_element;
          width: 7px;
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;
  
          right: 20px;
          transition: transform .3s ease;
        }
      }
  
      &.active {
        > span::after {
          width: 6px;
          height: 6px;
          transform: rotate(45deg);
        }
  
        > .menu {
          display: block;
        }
      }
  
      .menu {
        display: none;
        background-color: $sub-menu-background;
      }
  
      .menu_item {
        border-bottom-color: #454545;
        border-top: 1px solid #454545;
  
        &:last-child {
          border-bottom: none;
        }
  
        span, a {
          color: $sub-menu-color;
        }
  
        .menu_item {
          padding-left: $indent;
        }
      }
  
      span, a {
        height: 39px;
        display: flex;
        align-items: center;
        padding-left: 27px;
        font-size: $font-size;
        color: $main-menu-color;
      }
    }
  }
}
