$table-border-color: #D7DCE0; 
$table-background-color: #FDFDFD; 

$table-head-height: 33px;
$table-body-height: 40px;

$table-head-font-weight: bold;
$table-head-font-size: 1.3rem;
$table-body-font-size: 1.2rem;

$table-body-border-color: #E3E3E3;

.table {
  width: 100%;
  box-shadow: 0 0 0 1px $table-border-color;;
  border-radius: 10px;
  background-color: $table-background-color;

  .head {
    height: $table-head-height;

    th {
      color: #222;
      vertical-align: middle;
      text-align: center;
      font-weight: $table-head-font-weight;
      font-size: $table-head-font-size;
    }
  }

  .body {
    border-top: 1px solid $table-body-border-color;
    height: $table-body-height;

    td {
      padding: 16px;
      vertical-align: middle;
      font-size: $table-body-font-size;

      &.left {
        text-align: left;
      }

      &.center {
        text-align: center;
      }

      &.right {
        text-align: right;
      }
    }
  }
}