@import './mixin.scss';

/* 색상 */
$main-color: hsl(209, 75, 40);
$sub-color: hsl(60, 10, 16);
$etc-color: hsl(0, 0, 24);
$box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;

/* 폰트 */
$default-font-size: 1.3rem;
$component-font-size: 1.2rem;
$component-border-radius: 20px;


